<h1>WebPay de transfer</h1>
{{>flash}}

<ul>
  <li>
    <strong>Producto:</strong> Mesa de computador
  </li>
  <li><strong>Valor: </strong>$10.000</li>
  <li><strong>Cantidad: </strong>1</li>
  <li><strong>Orden de compra:</strong> 345123</li>

</ul>

<a href="/webpay/transaction" class="btn btn-primary">Pagar</a>